.head {
  height: auto;
  .head-container {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $white;
      content: "";
      opacity: 0.3;
    }
  }
  @media (min-width: $screen-sm-min) {
    height: 430px;
    .head-container {
      position: relative;
      height: 430px;
//      background-size: cover;
//      background-attachment: fixed;
//      background-position: center center;
//      &:before {
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//        background: $white;
//        content: "";
//        opacity: 0.3;
//      }
    }
  }
  @media (min-width: $screen-md-min){
    height: 522px;
    .head-container{
      height: 522px;
    }
  }
}

.introduction {
  position: relative;
  color: #333;
  font-weight: $text-medium;
  padding: 16px 8px 65px;
  .title {
    font-size: 34px;
    margin-bottom: 24px;
    line-height: 40px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 28px;
    line-height: 24px;
  }
  .quote {
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
    font-weight: normal;
    span {
      float: right;
      display: inline-block;
      font-size: 16px;
      margin-top: $margin-base*2;
      font-style: normal;
      font-weight: $text-light;
    }
  }
  @media (min-width: $screen-sm-min) {
    top: 30px;
    padding: 0;
    line-height: 39px;
    .title {
      font-size: 44px;
    }
    .subtitle {
      font-size: 28px;
      margin-bottom: 50px;
      line-height: 37px;
    }
    .quote {
      font-size: 26px;
      font-style: italic;
      line-height: 39px;
      span {
        float: right;
        display: inline-block;
        font-weight: $text-light;
        font-size: 20px;
        margin-top: $margin-base*3;
        font-style: normal;
      }
    }
  }
  @media (min-width: $screen-md-min) {
//    position: relative;
    top: 66px;
    font-weight: $text-medium;
    .title {
      font-size: 66px;
      margin-bottom: $margin-base*4;
      line-height: 49px;
    }
    .subtitle {
      font-size: 37px;
      margin-bottom: 60px;
      line-height: 45px;
      font-weight: $text-light;
    }
  }
}




